@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

html {
    background-color: hsl(30, 38%, 92%);
}

button {
    all: unset;
}

body, #add_to_cart {
    font-family: 'Montserrat', sans-serif;
    color: hsl(212, 21%, 14%);
}

h1 {
    font-family: 'Fraunces', serif;
}

.my-cont{
    min-width: 0;
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (min-width: 375px) {

.my-cont {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 38rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px
}

.perfume-pic > img {
    display: block;
    width: 20rem;
    height: auto;
}

.product-info {
    text-align: left;
    justify-content: center;
    width: 13rem;
    height: auto;
    padding-top: 2rem;
}

}

.description, #item-type {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.description {
    line-height: 1.6
}

.myCont {
    color: rgb(158, 156, 156);
}

.myCont h1 {
    color: black;
}


#price p {
    color: hsl(158, 36%, 37%);
    display: inline;
}

.icon-cart {
    background-image: url(/images/icon-cart/svg);
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
}

#add-to-cart {
    display: flex;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    padding: 6% 25% 6% 25%;
    border-radius: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#add-to-cart:hover {
    background-color: hsl(212, 21%, 14%);
}

#price > #pre-sale-price {
    text-decoration: line-through;
    font-size: 0.8rem;
    color: rgb(158, 156, 156);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 374px) {

    .my-cont {
        margin-top: 10%;
        margin-left: 3%;
        margin-right: 3%;
        display: grid;
        position: static;
    }

    .perfume-pic {
        height: 13.5em;
        overflow: hidden;
    }

    .perfume-pic > img {
        width: 100%;
        height: 15rem;
        object-position: center center;
        object-fit: cover;
    }

    .product-info {
        text-align: left;
        justify-content: center;
        width: auto;
        height: auto;
        justify-content: center;
        padding-left: 0.3rem;
    }

    #add-to-cart {
        margin-bottom: 1rem;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #title, #price {
        font-size: 1.8em;
        line-height: 1.1;
    }

    .description, #title, #price, #item-type {
        padding-right: 2rem;
        padding-left: 0.5rem;
    }

    #item-type {
        font-size: 0.6em;
        padding-top: 0.5rem;
        line-height: 0.1;
        padding-top: 1rem;
    }
}